@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>E-Comm is a place for users to post anything they would like to sell or trade!</p>
    <p>All sales are done secure and shipped to in a timely manner!</p>

</div>